@model IEnumerable<ProjetoLivraria.Models.Pessoa>

@{
    ViewData["Title"] = "Pessoas";
}

<h2>Pessoas</h2>

<p>
    <a asp-action="CadastroDePessoas">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="EditarPessoa" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="DetalhesDaPessoa" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="DeletarPessoa" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
